<div class="flex justify-evenly p-3">
  {% for product in section.settings.collection.products %}
    <div class="">
      <div class="">
        <a class="text-white text-center" href="{{ product.url }}"></a>
      </div>
      <div class="">
        <img class="items-center" src="{{ product.featured_image | img_url }}" />
      </div>
      <div class="">
        <h3 class="text-white text-center">{{ product.title | link_to: product.url }}</h3>
      </div>
      <div class="">
        <p class="text-white text-center">{{ product.price | money }}</p>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Frontpage Collection",
    "class": "h-40 bg-neutral-900",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "select a collection"
      }
    ]
  }
{% endschema %}