<div class="sm:flex mx-[5vw] sm:justify-between sm:p-3 flex-wrap gap-8">
  {% for product in section.settings.collection.products %}
    <div class="flex flex-col items-center justify-center">
      <div class="w-full bg-white shadow-md overflow-hidden">
        <a class="block" href="{{ product.url }}">
          <img class="object-cover w-full h-[200px]" src="{{ product.featured_image | img_url: 'master' }}" />
        </a>
        <div class="bg-mdew">
          <h3 class="text-dark text-center">{{ product.title | link_to: product.url }}</h3>
          <p class="text-dark text-center">{{ product.price | money }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Frontpage Collection",
    "class": "h-auto bg-dark my-8 px-5",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "select a collection"
      }
    ],
    "presets": [
      {
        "name": "Frontpage Collection"
      }
    ]
  }
{% endschema %}