<header">
  <h1>{{ shop.name }}</h1>
  <h1">halo</h1>
  <ul>
    {% for link in linklists.main-menu.links -%}
      <li>{{ link.title | link_to: link.url }}</li>
    {%- endfor %}
  </ul>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": []
  }
{% endschema %}