<header class="header">
  <h1 class="text-center text-4xl text-white bg-black">{{ shop.name }}</h1>
  <ul class="m-0 p-0 overflow-hidden">
    
  </ul>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": []
  }
{% endschema %}

{% comment %} {% for link in linklists.main-menu.links -%}
  <li class="float-left">{{ link.title | link_to: link.url }}</li>
{%- endfor %} {% endcomment %}