{% assign product = section.settings.product %}

<div class="h-[75vh] grid grid-cols-2 mx-[5vw]">
  <div class="flex flex-col justify-center">
    <h1 class="text-left text-4xl text-white pb-2">BUY A
      <span class="text-orange-600">
        {{ product.title }},
      </span>
      <br>
      GET UP TO
      <br>
      <span class="text-orange-600">₱50 PESOS OFF</span>
      <br>
      ON YOUR NEXT PURCHASE!!</h1>
    <p class="text-left text-lg text-white pb-2">
      {{ product.price | money }}</p>
    <p class="text-left text-lg text-white pb-2">
      {{ product.description }}</p>
    <div class="text-center">
      <div class="bg-gray-700 rounded-lg inline-block w-max p-1 px-2">
        <p class="text-white">"&#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;" - Edson Hermosa</p>
      </div>
    </div>
  </div>
  <div class="flex content-end">
    <div class="">
      <img class="flex h-full" src="{{ product.featured_image | img_url: '600x600' }}">
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Hero Page",
    "class": "bg-black",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ]
  }
{% endschema %}