<style>
  .parallax,
  .parallax:after,
  .parallax:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .parallax .banner-area {
    padding: 60px 0;
    background: #0C7489;
  }
  .parallax .banner-area:after,
  .parallax .banner-area:before {
    content: "";
    display: table;
  }
  .parallax .banner-area:after {
    clear: both;
  }

  .parallax .swiper-container {
    overflow: hidden;
    width: 80%;
    height: calc(100vh - 120px);
    float: left;
    transition: opacity 0.6s ease, transform 0.3s ease;
  }
  .parallax .main-slider .swiper-image {
    width: 100%;
    height: 100%;
  }
  .parallax .swiper-image-inner {
    background-size: cover;
    background-position: center center;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: hue;

  }
  .parallax .banner-content {
    font-size: 24px;
    max-width: 600px;
    line-height: 1.4;
    color: #fff;
  }
  .parallax .banner-content h2 {
    font-size: 40px;
    margin: 0 0 10px;
  }
  .parallax .banner-content p {
    margin: 0
  }
  .parallax .swiper-slide {
    overflow: hidden;
  }
  .parallax .swiper-button-prev,
  .parallax .swiper-button-next {
    width: 44px;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-out;
  }
  .parallax .swiper-button-prev {
    position: absolute;
    transform: translateX(50px);
  }
  .parallax .swiper-button-next {
    position: absolute;
    transform: translateX(-50px);
  }
  .parallax .swiper-container:hover .swiper-button-prev,
  .parallax .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .parallax .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: hue;
    transition: all 0.5s ease-out;

    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
  }
  .parallax .swiper-container.thumb-slider {
    width: 20%;
    padding-left: 5px;

  }
  .parallax .swiper-container.thumb-slider .swiper-slide {
    cursor: pointer;
  }
  .parallax .swiper-slide.swiper-slide-active .slide-bgimg {
    background-color: transparent;
  }
  .parallax .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
</style>

<!-- From html -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

<div class="banner-area">
  <div class="swiper-container main-slider">
    <div class="swiper-wrapper">
      {% for item in collection %}{% endfor %}
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="background-image:url(https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,fl_progressive,q_auto,w_1024/61deb2cc636ca8001d17c84f.jpg)">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 1</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 2</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 3</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 4</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 5</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image" data-swiper-parallax-x="35%">
          <div class="swiper-image-inner" style="">
            <div class="banner-content">
              <h2
                data-swiper-parallax-duration="1500"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-700">
                Slide 6</h2>
              <p
                data-swiper-parallax-duration="1700"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>

  <div class="swiper-container thumb-slider">
    <div class="swiper-wrapper" role="navigation">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url('{{ block.settings.image_with_text_image  | img_url: '1200x1200' }}')">
            <span>Slide</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- From html -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
  // Params
  let mainSliderSelector = '.main-slider',
    thumbSliderSelector = '.thumb-slider';

// Main Slider
  let mainSliderOptions = {
    loop: true,
    speed: 1500,
    parallax: true,
    loopAdditionalSlides: 5,
    grabCursor: true,
    watchSlidesProgress: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  };
  let mainSlider = new Swiper(mainSliderSelector, mainSliderOptions);

// thumb Slider
  let thumbSliderOptions = {
    loop: true,
    loopAdditionalSlides: 5,
    speed: 1500,
    spaceBetween: 5,
    slidesPerView: 5,
    centeredSlides: true,
    touchRatio: 0.2,
    slideToClickedSlide: true,
    direction: 'vertical'
  };
  let thumbSlider = new Swiper(thumbSliderSelector, thumbSliderOptions);

  mainSlider.controller.control = thumbSlider;
  thumbSlider.controller.control = mainSlider;
</script>

{% schema %}
  {
    "name": "parallaxboi",
    "class": "parallax min-w-[375px]",
    "blocks": [
      {
        "name": "parallax-slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_with_text_image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "parallax"
      }
    ]
  }
{% endschema %}